@import "/src/cores.scss";

.input-date-content {
  box-shadow: 4px 4px 5px 0 var(--cinza-claro);
  border-radius: 10px;

  .input-date {
    background-color: var(--branco);
    border: none;
    border-radius: 10px 0 0 10px;
    height: 45px;
    outline: none;
    padding: 0 10px;
    color: var(--azul-escuro);
    box-shadow: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .btn-date {
    background-color: var(--branco);
    border: none;
    font-size: 20px;
    color: var(--azul-escuro);
    border-radius: 0 10px 10px 0;
    font-weight: 500;
    height: 45px;
    padding: 8px;
    box-shadow: none;
  }
}

.is-invalid-input-date {
  box-shadow: 4px 4px 5px 0 var(--vermelho);
}
