<div class="card-reserva">
  <div class="reserva-header">
    <h4 class="text-purple">Reserva {{ reserva.id }}</h4>
    <p class="text-gray">
      {{ reserva.dataHoraSolicitacao | date : "dd/MM/yyyy" }}
    </p>
  </div>

  <hr class="mt-1 mb-2" />

  <div class="reserva-body">
    <div class="row w-100">
      <div class="col-12">
        <p>
          <span class="info-title text-purple">Solicitante: </span>
          <span>{{
            reserva.informacoesComplementaresLocacao?.nomeCliente
          }}</span>
        </p>
      </div>

      <div class="col-12">
        <p>
          <span class="info-title text-purple">E-mail: </span>
          <span>{{
            reserva.informacoesComplementaresLocacao?.emailCliente
          }}</span>
        </p>
      </div>

      <div class="col-12" [ngClass]="{'col-md-6': !reserva.informacoesComplementaresLocacao?.alunoUFPR}">
        <p>
          <span class="info-title text-purple">CPF: </span>
          <span>{{
            reserva.informacoesComplementaresLocacao?.cpfCliente!
              | mask : "000.000.000-00"
          }}</span>
        </p>
      </div>

      <div class="col-12 col-md-6">
        <p>
          <span class="info-title text-purple">Aluno UFPR: </span>
          <span>{{
            reserva.informacoesComplementaresLocacao?.alunoUFPR ? "Sim" : "Não"
          }}</span>
        </p>
      </div>

      <div class="col-12 col-md-6" *ngIf="reserva.informacoesComplementaresLocacao?.alunoUFPR">
        <p>
          <span class="info-title text-purple">GRR: </span>
          <span>{{ reserva.informacoesComplementaresLocacao?.grr }}</span>
        </p>
      </div>

      <div class="col-12">
        <p>
          <span class="info-title text-purple">Período: </span>
          <span
            >{{
              reserva.dataHoraInicioReserva | date : "dd/MM/yyyy - HH:mm"
            }}
            às {{ reserva.dataHoraFimReserva | date : "HH:mm" }}</span
          >
        </p>
      </div>

      <div class="col-12 col-md-6">
        <p>
          <span class="info-title text-purple">Local: </span>
          <span>{{
            reserva.informacoesComplementaresLocacao?.nomeEspacoEsportivo
          }}</span>
        </p>
      </div>

      <div class="col-12 col-md-6">
        <p>
          <span class="info-title text-purple">Participantes: </span>
          <span
            >{{ reserva.qtdParticipantes }}
            {{ reserva.qtdParticipantes! > 1 ? "Pessoas" : "Pessoa" }}</span
          >
        </p>
      </div>
    </div>

    <div>
      <p
        (click)="motivoReserva.toggle()"
        [attr.aria-expanded]="!motivoReservaCollapsed"
        aria-controls="collapseExample"
        class="motivo-reserva-collapse mb-1"
      >
        <span class="info-title text-purple">
          Motivo da reserva
          <span>
            <fa-icon [icon]="changeIcon(motivoReservaCollapsed)"></fa-icon>
          </span>
        </span>
      </p>

      <div
        #motivoReserva="ngbCollapse"
        [(ngbCollapse)]="motivoReservaCollapsed"
      >
        <div>
          <p>{{ reserva.motivoSolicitacao }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="reserva-footer">
    <app-btn-purple
      [showIcon]="true"
      [icone]="faConfirm"
      [textButton]="'Aprovar reserva'"
      (emmiterClick)="aprovar()"
    ></app-btn-purple>

    <app-btn-red
      [showIcon]="true"
      [icone]="faCancel"
      [textButton]="'Negar reserva'"
      (emmiterClick)="negar()"
    ></app-btn-red>
  </div>
</div>
