<ng-template #modalExclusaoEsporte let-modal>
  <div class="modal-body">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title text-dark-blue text-center">
        Você realmente deseja remover
        {{ nomeEEDelete ? nomeEEDelete : "este espaço esportivo" }}?
      </h4>
    </div>

    <div class="d-block d-md-flex mt-3 mb-2">
      <div class="col-12 col-md-6 me-0 me-md-2 mb-2 mb-md-0 pe-2">
        <app-btn-purple
          [textButton]="'Confirmar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faConfirm"
          (emmiterClick)="deletarEspacoEsportivo()"
        ></app-btn-purple>
      </div>

      <div class="col-12 col-md-6 pe-2">
        <app-btn-red
          [textButton]="'Cancelar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faClose"
          (emmiterClick)="closeModal()"
        ></app-btn-red>
      </div>
    </div>
  </div>
</ng-template>

<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>

<div class="mx-3 mt-4">
  <h3 class="text-purple font-weight-bold">Espaços esportivos cadastrados</h3>

  <div class="row justify-content-between mt-5">
    <div class="col-12 col-md-5">
      <form [formGroup]="formSearch">
        <app-input-search
          [formGroup]="formSearch"
          controlName="searchValue"
          placeholder="Pesquisar..."
          (emitterSearch)="searchEspacoEsportivo()"
        ></app-input-search>
      </form>
    </div>

    <div class="col-12 col-md-3">
      <app-btn-purple
        textButton="Novo espaço esportivo"
        [showIcon]="true"
        [icone]="faPlus"
        (emmiterClick)="navigate('novo-espaco')"
      ></app-btn-purple>
    </div>
  </div>

  <div class="table-content">
    <div class="text-center" *ngIf="ee?.length! > 5 || eeFilter?.length! > 5">
      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="<"
        nextLabel=">"
      ></pagination-controls>
    </div>

    <div class="table-scroll">
      <div
        class="d-flex justify-content-center align-items-center h-100"
        *ngIf="ee?.length == 0 && eeFilter?.length == 0; else espacos"
      >
        <h3 class="text-dark-blue text-center">
          Nenhum espaço esportivo foi cadastrado até o momento :(
        </h3>
      </div>

      <ng-template #espacos>
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">Nome</th>
              <th scope="col">Localidade</th>
              <th scope="col">Capacidade</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let ee of (formSearch.valid ? eeFilter : ee)
                  | paginate : { itemsPerPage: 5, currentPage: p }
              "
              class="text-center"
            >
              <td>
                <p class="mb-0 mt-2">{{ ee.nome }}</p>
              </td>

              <td>
                <p class="mb-0 mt-2">
                  {{ ee.localidade }}
                </p>
              </td>

              <td>
                <p class="mb-0 mt-2">
                  {{ ee.capacidade + " pessoas" }}
                </p>
              </td>

              <td>
                <div class="d-flex justify-content-center">
                  <button class="btn-acoes" (click)="visualizarEE(ee)">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>

                  <button class="btn-acoes mx-2" (click)="editarEE(ee.id!)">
                    <fa-icon [icon]="faPencil"></fa-icon>
                  </button>

                  <button
                    class="btn-acoes"
                    (click)="
                      openModalConfirmacao(
                        modalExclusaoEsporte,
                        ee.id!,
                        ee.nome!
                      )
                    "
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
</div>
