.card-fomulario {
  width: 40vw;
}

.checklist {
  .password-checklist {
    list-style: none;
    padding: 0 10px;

    li {
      fa-icon {
        font-size: 16px;
        margin-right: 4px;
        padding: 0;
      }
    }

    .tem-erros {
      fa-icon {
        color: #ff0000;
      }
    }

    .sem-erros {
      fa-icon {
        color: #0fd45e;
      }
    }
  }
}
