<header class="itens-cabecalho px-3 pt-2 m-0">
  <div class="d-flex align-items-center">
    <p class="saudacao mb-0">
      {{ getSaudacao() }}
    </p>
  </div>

  <div class="d-flex align-items-center justify-content-center">
    <img
      src="../../assets/site/logo-sport-ease.png"
      alt="logo sport ease ufpr"
      width="50"
    />
    <h2 class="ms-2 mb-0 text-dark-blue">SportEase</h2>
  </div>

  <div class="text-end">
    <a class="dados-cliente text-dark-blue m-0" routerLink="/editar-perfil">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
  </div>
</header>
