@import "/src/cores.scss";

.filtros-collapse {
  cursor: pointer;
}

.table-content {
  background-color: var(--branco);
  box-shadow: 2px 2px 4px 0 var(--cinza-claro);
  padding: 5px;
  border-radius: 10px;

  table {
    th {
      color: var(--cinza-claro);
    }

    td {
      color: var(--azul-escuro);
    }
  }

  .table-scroll {
    max-height: 56vh;
    overflow-y: scroll;
    background-color: var(--branco);
    scrollbar-width: thin;
    scrollbar-color: var(--roxo) var(--branco);

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: var(--branco);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--roxo);
      border-radius: 20px;
      border: 3px solid var(--branco);
    }
  }
}
