@import "/src/cores.scss";

.menu {
  background-color: var(--branco);
}

a {
  text-decoration: none;
  font-size: 16px;
}

p {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  color: var(--cinza);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

fa-icon {
  font-size: 22px;
}

.menu-actived p {
  transition: 0.2s ease-in-out;
  font-weight: 600;
  background-color: var(--roxo);
  color: var(--branco);
  font-size: 18px;
}

.btn-logout {
  border: none;
  border-radius: 10px;
  font-weight: 500;
  height: 45px;
  padding: 8px;
  background-color: transparent;
  color: var(--cinza);
}
