<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>

<div class="mx-3 mt-4">
  <h3 class="text-purple font-weight-bold mb-3">Cadastrar administrador</h3>

  <form [formGroup]="formAdministrador">
    <div class="row w-100">
      <div class="col-12">
        <app-input-field
          [formGroup]="formAdministrador"
          [label]="'Nome Completo'"
          [controlName]="'nome'"
          [validacaoInput]="true"
        ></app-input-field>
      </div>

      <div class="col-12">
        <app-input-field
          [formGroup]="formAdministrador"
          [label]="'E-mail'"
          [controlName]="'email'"
          [validacaoInput]="true"
          [inputType]="'email'"
        ></app-input-field>
      </div>

      <div class="col-12">
        <app-input-field
          [formGroup]="formAdministrador"
          [label]="'CPF'"
          [controlName]="'cpf'"
          [validacaoInput]="true"
          [mask]="'000.000.000-00'"
        ></app-input-field>
      </div>

      <div class="col-12 col-md-6">
        <app-input-senha
          [formGroup]="formAdministrador"
          [controlName]="'senha'"
          [label]="'Senha'"
          [validacaoInput]="true"
          (emmiterFocus)="focusPassword()"
        >
        </app-input-senha>
      </div>

      <div class="col-12 col-md-6">
        <app-input-senha
          [formGroup]="formAdministrador"
          [controlName]="'confirmacaoSenha'"
          [label]="'Confirmar Senha'"
          [validacaoInput]="true"
          (emmiterFocus)="focusPassword()"
        >
        </app-input-senha>
      </div>

      <ng-container *ngIf="passwordChecklist">
        <app-password-checklist
          [control]="formAdministrador.get('senha')!"
          [senhasDiferentes]="senhasDiferentes"
        ></app-password-checklist>
      </ng-container>

      <div class="col-12 d-flex justify-content-end">
        <div>
          <app-btn-purple
            [textButton]="'Cadastrar'"
            [buttonDisabled]="formAdministrador.invalid && senhasDiferentes"
            (emmiterClick)="cadastrarAdm()"
          ></app-btn-purple>
        </div>

        <div class="ms-2">
          <app-btn-border-purple
            [textButton]="'Cancelar'"
            (emmiterClick)="navigate()"
          ></app-btn-border-purple>
        </div>
      </div>
    </div>
  </form>
</div>
