<div>
  <button
    #buttonPurple
    type="button"
    class="btn-basic btn-purple"
    (click)="clickButton($event)"
    [disabled]="buttonDisabled"
  >
    <ng-container *ngIf="showIcon; else notIcon">
      <ng-container *ngIf="iconFirst; else textFirst">
        <fa-icon [icon]="icone"></fa-icon>
        {{ textButton }}
      </ng-container>

      <ng-template #textFirst>
        {{ textButton }}
        <fa-icon [icon]="icone"></fa-icon>
      </ng-template>
    </ng-container>

    <ng-template #notIcon>
      {{ textButton }}
    </ng-template>
  </button>
</div>
