@import "/src/cores.scss";

.btn-purple {
  background-color: transparent;
  color: var(--roxo);
  border: 2px solid var(--roxo);
  transition: 0.2s ease-in-out;

  &:disabled {
    transition: 0.2s ease-in-out;
    opacity: 0.6;
    transform: scale(1);
  }
}
