@import "/src/cores.scss";

.section-input-password {
  box-shadow: 4px 4px 5px 0 var(--cinza-claro);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.section-input-password-focus {
  transition: 0.2s ease-in-out;
  box-shadow: 4px 4px 2px 0 var(--roxo);
}

.input-password {
  background-color: var(--branco);
  border: none;
  border-radius: 10px 0 0 10px;
  height: 45px;
  outline: none;
  padding: 0 10px;
  color: var(--preto);
  transition: 0.2s ease-in-out;
}

.show-senha {
  background-color: var(--branco);
  border: none;
  color: var(--cinza-claro);
  border-radius: 0 10px 10px 0;
  height: 45px;
  outline: none;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
}

.is-password-invalid {
  .section-input-password {
    transition: 0.2s ease-in-out;
    box-shadow: 4px 4px 2px 0 var(--vermelho);
    background-color: transparent;
  }
}
