.input-password {
  background-color: #fff;
  border: none;
  border-radius: 10px 0 0 10px;
  height: 45px;
  outline: none;
  padding: 0 10px;
  box-shadow: 4px 4px 5px 0 #aaa;
  color: #aaa;
  transition: 0.2s ease-in-out;

  &:focus {
    transition: 0.2s ease-in-out;
    box-shadow: 4px 4px 2px 0 #5d5fef;

    ~ .show-senha {
      transition: 0.2s ease-in-out;
      box-shadow: 4px 4px 2px 0 #5d5fef;
    }
  }
}

.show-senha {
  background-color: #fff;
  border: none;
  color: #aaa;
  border-radius: 0 10px 10px 0;
  height: 45px;
  outline: none;
  padding: 0 10px;
  box-shadow: 4px 4px 5px 0 #aaa;
  transition: 0.2s ease-in-out;
}

.is-password-invalid {
  .input-password {
    transition: 0.2s ease-in-out;
    box-shadow: 4px 4px 2px 0 #ff0000;
    background-color: transparent;

    ~ .show-senha {
      transition: 0.2s ease-in-out;
      box-shadow: 4px 4px 2px 0 #ff0000;
      background-color: transparent;
    }
  }
}
