<div
  [formGroup]="formGroup"
  class="mb-3"
  [ngClass]="{
    'is-password-invalid': inputValid()
  }"
>
  <app-label [idInput]="controlName" [textLabel]="label"></app-label>
  <div class="d-flex section-input-password" #sectionInputPassword>
    <input
      formControlName="{{ controlName }}"
      (focus)="inputFocus(); passwordFocus()"
      (blur)="passwordFocus()"
      id="{{ controlName }}"
      type="{{ type }}"
      class="input-password w-100"
      name="{{ controlName }}"
      autocomplete="new-password"
    />

    <button
      type="button"
      class="show-senha"
      (click)="showSenha()"
      (focus)="passwordFocus()"
      (blur)="passwordFocus()"
    >
      <fa-icon [icon]="faShowSenha"></fa-icon>
    </button>
  </div>
</div>
