<div
  [formGroup]="formGroup"
  class="mb-3"
  [ngClass]="
    formGroup.controls[controlName].invalid &&
    (formGroup.controls[controlName].dirty ||
      formGroup.controls[controlName].touched) &&
    validacaoInput
      ? 'is-password-invalid'
      : ''
  "
>
  <app-label [idInput]="controlName" [textLabel]="label"></app-label>
  <div class="d-flex">
    <input
      formControlName="{{ controlName }}"
      (focus)="inputFocus(controlName)"
      id="{{ controlName }}"
      type="{{ type }}"
      class="input-password w-100"
      name="{{ controlName }}"
      autocomplete="new-password"
    />

    <button class="show-senha" (click)="showSenha()">
      <fa-icon [icon]="faShowSenha"></fa-icon>
    </button>
  </div>
</div>
