<div
  [formGroup]="formGroup"
  class="mb-3"
  [ngClass]="{
    'is-invalid-input': inputValid()
  }"
>
  <app-label [idInput]="controlName" [textLabel]="label"></app-label>
  <div class="d-flex">
    <ng-container *ngIf="mask !== ''; else withoutMask">
      <input
        #inputText
        type="text"
        class="input-basic w-100"
        formControlName="{{ controlName }}"
        id="{{ controlName }}"
        name="{{ controlName }}"
        mask="{{ mask }}"
      />
    </ng-container>

    <ng-template #withoutMask>
      <input
        #inputText
        type="text"
        class="input-basic w-100"
        formControlName="{{ controlName }}"
        id="{{ controlName }}"
        name="{{ controlName }}"
      />
    </ng-template>
  </div>
</div>
