:root {
  --roxo: #5d5fef;
  --branco: #ffffff;
  --branco-gelo: #f8f9fa;
  --cinza: #737791;
  --cinza-claro: #aaaaaa;
  --vermelho: #ff0000;
  --verde: #0fd45e;
  --azul-claro: #fafbfc;
  --azul: #0076ff;
  --azul-escuro: #151d48;
  --salmao: #ffe2e5;
  --rosa: #fa5a7d;
}
