<ng-template #modalUnblockCliente let-modal>
  <div class="modal-body">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title text-dark-blue text-center">
        Você realmente deseja desbloquar
        {{ nomeClienteModify ? nomeClienteModify : "este cliente" }}?
      </h4>
    </div>

    <div class="d-block d-md-flex mt-3 mb-2">
      <div class="col-12 col-md-6 me-0 me-md-2 mb-2 mb-md-0 pe-2">
        <app-btn-purple
          [textButton]="'Confirmar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faConfirm"
          (emmiterClick)="desbloquearCliente()"
        ></app-btn-purple>
      </div>

      <div class="col-12 col-md-6 pe-2">
        <app-btn-red
          [textButton]="'Cancelar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faClose"
          (emmiterClick)="closeModal()"
        ></app-btn-red>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalBlockCliente let-modal>
  <div class="modal-body">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title text-dark-blue text-center">
        Você realmente deseja bloquear
        {{ nomeClienteModify ? nomeClienteModify : "este cliente" }}?
      </h4>
    </div>

    <div>
      <form [formGroup]="formJustificativa">
        <app-input-textarea
          [formGroup]="formJustificativa"
          [controlName]="'justificativa'"
          [label]="'Justificativa'"
        ></app-input-textarea>
      </form>
    </div>

    <div class="d-block d-md-flex mt-3 mb-2">
      <div class="col-12 col-md-6 me-0 me-md-2 mb-2 mb-md-0 pe-2">
        <app-btn-purple
          [textButton]="'Confirmar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faConfirm"
          (emmiterClick)="bloquearCliente()"
        ></app-btn-purple>
      </div>

      <div class="col-12 col-md-6 pe-2">
        <app-btn-red
          [textButton]="'Cancelar'"
          [showIcon]="true"
          [iconFirst]="true"
          [icone]="faClose"
          (emmiterClick)="closeModal()"
        ></app-btn-red>
      </div>
    </div>
  </div>
</ng-template>

<ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>

<div class="mx-3 mt-4">
  <h3 class="text-purple font-weight-bold">Clientes cadastrados</h3>

  <div class="row justify-content-between my-2">
    <div class="col-12 col-md-5">
      <form [formGroup]="formSearch">
        <app-input-search
          [formGroup]="formSearch"
          controlName="searchValue"
          placeholder="Pesquisar por nome..."
          (emitterSearch)="searchClientes()"
        ></app-input-search>
      </form>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-12 col-md-6 mb-3">
      <app-card-cliente
        (emitterUnblock)="openModalConfirmacao(modalUnblockCliente)"
        (emitterBlock)="openModalConfirmacao(modalBlockCliente)"
      ></app-card-cliente>
    </div>
  </div>
</div>
