<div class="modal-body">
  <div class="d-flex justify-content-between">
    <h4 class="modal-title text-dark-blue text-center">Você realmente deseja remover {{ nomeGerente ? nomeGerente : 'este administrador' }}?</h4>
  </div>

  <div class="d-block d-md-flex mt-3 mb-2">
    <div class="col-12 col-md-6 me-0 me-md-2 mb-2 mb-md-0 pe-2">
      <app-btn-purple
        [textButton]="'Confirmar'"
        [showIcon]="true"
        [iconFirst]="true"
        [icone]="faConfirm"
        (emmiterClick)="deletarAdministrador()"
      ></app-btn-purple>
    </div>

    <div class="col-12 col-md-6 pe-2 ">
      <app-btn-red
        [textButton]="'Cancelar'"
        [showIcon]="true"
        [iconFirst]="true"
        [icone]="faClose"
        (emmiterClick)="activeModal.close()"
      ></app-btn-red>
    </div>

  </div>
</div>
